body {
  background-image: url("white sky.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
}

@font-face {
font-family: 'ashCustom';
src: url('ash.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'impactCustom';
src: url('impact.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.logo {
  font-size: 100px;
  font-family: "ashCustom";
  margin-bottom: -90px;
  margin-left: 30px;
}

#start {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  padding: 0;
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("start.png");
  margin-left: 130px;
  transition: background-image 0.1s ease-in-out;
}

#start:hover {
  background-image: url("start2.png");
}

.latest {
  background-color: black;
}

.latest p{
  color: white;
  font-size: 30px;
  font-family: "impactCustom";
  margin-left: 30px;
}

.articles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 300px;
  margin: 30px;
  position: relative;
  border: solid 2px black;
}

.article p {
  font-family: "impactCustom";
  font-size: 30px;
  color: white;
  position: absolute;
  top: 150px;
  right: 10px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.articles p:hover {
  text-decoration: underline;
  cursor: pointer;
}
